<div class="text-center m-5">
  <h1>Sample App</h1>
  <p>This is the home Page</p>
  <button type="button" class="btn btn-primary">
    <%= link_to "sign up now", signup_path, class: "btn bt-primary" %></button>

</div>


