<div class="container">
  <h1>Sample App</h1>
  <p>This is the home Page</p>
  <%= link_to "sign up now", signup_path, class: "btn btn-log bt-primary" %>

</div>

<button type="button" class="btn btn-primary">Primary</button>


<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Dropdown button
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
    <li><a class="dropdown-item" href="#">Something else here</a></li>
  </ul>
</div>