<%= provide(:title, @user.name) %>
<div class="row m-5">
  <aside class="col-12 text-center">
    <div class="d-flex justify-content-center">
      <img src="<%= asset_path('users/pp.jpg') %>" alt="banner image" height="50">
      <h2 class="px-2"><%= @user.name %></h2>
    </div>
    <%= @user.email %>
  </aside>
</div>

