<%= provide(:title, @user.name) %>
<div class="row m-5">
  <aside class="col-12 text-center">
    <div class="d-flex justify-content-center align-items-center user-img">
      <%= gravatar_for @user %>
      <%= @user.name %>
    </div>
    <%= @user.email %>
  </aside>
</div>

