
@mixin box_sizing{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 50px;
  background: #BBBBBB;
  border: 1px solid #000000;
  padding: 20px;
  @include box_sizing
}


input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input{
  height: auto !important;
}
#error_explanation{
  color: red;
  ul{
    color: red;
    margin: 0 0 30px 0;
  }
}
.field_with_errors{
  .form-control{
    color: green;
  }
}
.checkbox{
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 5px;
    font-weight: normal;
  }
}
#session_remember_me{
  width: auto;
  margin-left: 0;
}
.user-profile{
  h2, p{
    padding-left: 10px;
  }
}

.users{
  list-style: none;
  margin: 0;
  li{
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid #666666;
  }
}

  //microposts

.microposts{
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user{
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img{
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp{
    color: #999999;
    display: block;
    margin-left: 60px;
  }
  .gravatar{
    float: left;
    margin-right: 10px;
    margin-left: 5px;
  }
}
aside{
  textarea{
    height: 100px;
    margin-bottom: 5px;
  }
}
span.picture{
  margin-top: 10px;
  input{
    border: 0;
  }
}
.content img{
  height: 300px;
}

 //follower

.stats{
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a{
    float: left;
    padding: 0 10px;
    border-left: 1px solid #999999;
    color: #666666;
    text-decoration: none;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover{
      text-decoration: none;
      color: blue;
    }
  }
  strong{
    display: block;
  }
}
.user-avatars{
  overflow: auto;
  margin-top: 10px;
  .gravatar{
    margin: 1px 1px;
  }
  a{
    padding: 0;
  }
}
.users.follow{
  padding: 0;
}
a{
  text-decoration: none;
}
.follow_img img{
  padding: 5px 5px 5px 0;
}

 //pagination

.digg_pagination {
  margin: 40px 0;
  background: white;
  cursor: default;
  /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 0.2em 0.5em;
  display: block;
  float: left;
  margin-right: 1px; }
.digg_pagination .disabled {
  color: #999999;
  border: 1px solid #dddddd; }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: #2e6ab1;
  color: white;
  border: 1px solid #2e6ab1; }
.digg_pagination a {
  text-decoration: none;
  color: #105cb6;
  border: 1px solid #9aafe5; }
.digg_pagination a:hover, .digg_pagination a:focus {
  color: #000033;
  border-color: #000033; }
.digg_pagination .page_info {
  background: #2e6ab1;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.digg_pagination .page_info b {
  color: #000033;
  background: #6aa6ed;
  padding: 0.1em 0.25em; }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .digg_pagination {
  height: 1%; }
*:first-child + html .digg_pagination {
  overflow: hidden;
}