// Place all the styles related to the User controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: https://sass-lang.com/

.d-flex{
  display: flex;
  align-items: center;
  justify-content: center;
  h1{
    padding-left: 10px;
  }
}